<launch>
  <!--- Run bag recording -->
  <node name="bag_recording" pkg="rosbag" type="record" args="-O $(find car_simulator)/script/recording_base /car_state"/>

  <!--- Run single track simulator node -->
  <node pkg="car_simulator" type="car_sim" respawn="false" name="car_sim" output="screen">
    <rosparam file="$(find car_simulator)/config/car_params.yaml" command="load" />
    <rosparam param="/use_sim_time">true</rosparam>
  </node> 

  <!--- Run test single track simulator node -->
  <node pkg="car_simulator" type="simple_input" respawn="false" name="simple_input" output="screen">
  </node> 
</launch>